.totalContainer {
  width: 375px;
  text-align: center;
  font-family:'Trebuchet MS';
}

.timerBlock {
  background-color: #bdbdbd;
  box-shadow: -2px 3px 2px #848181;
  border-radius: 10px;
  justify-content: center;
  margin: 12px;
  padding-bottom: 15px;
}

.title {
  display: flex;
}

.homeButton {
  font-family: 'Trebuchet MS';
  position: relative;
  margin-left: 75px;
  width: 100px;
  height: 20px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #bdbdbd;
  text-align: center;
  color: #202020;
  border: none;
  cursor: pointer;
  box-shadow: -1px 1px 1px #6e6e6e;
}

.toggleButton {
  font-family: 'Trebuchet MS';
  margin-left: 20px;
  width: 100px;
  height: 20px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #bdbdbd;
  text-align: center;
  color: #202020;
  border: none;
  cursor: pointer;
  box-shadow: -1px 1px 1px #6e6e6e;
}


.timer {
  font-size: 7vw;
  font-weight: bold;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
  width: 120px;
  white-space: nowrap;
  overflow: visible;
}

.targetTime {
  padding-bottom: 15px;
}

.timerInfo {
  margin: 12px;
}

.xButton {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 6px; 
  left: 75px;
}

.xButton img {
  width: 20px;
  height: 20px;
  top: 6px; 
  left: 75px;
}

.container {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 12px;
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.confirmButton {
  position: relative;
  display: inline-block;
  width: 115px;
  height: 34px;
}

.confirmButton.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderRound {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  box-shadow: -1px 1px 1px #6e6e6e;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderRound:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  box-shadow: -1px 1px 1px #6e6e6e;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox:checked + .sliderRound {
  background-color: #2196F3;
  box-shadow: -1px 1px 1px #6e6e6e;
}

.checkbox:focus + .sliderRound {
  box-shadow: 0 0 1px #2196F3;
  box-shadow: -1px 1px 1px #6e6e6e;
}

.checkbox:checked + .sliderRound:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

.on {
  display: none;
}

.on {
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
}

.off {
  color: #202020;
  position: absolute;
  font-weight: 500;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
}

.checkbox:checked+ .sliderRound .on
{display: block;}

.checkbox:checked + .sliderRound .off
{display: none;}

.sliderRound {
  border-radius: 34px;
}

.sliderRound:before {
  border-radius: 50%;
}

.addNewButton {
	background:none;
  border:none;
	display:inline-block;
	cursor:pointer;
	color:#2196F3;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addNewButton:hover {
	background-color:#2196F3;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 100;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addNewButton:active {
	position:relative;
	top:1px;
}

.addNew {
  text-align: center;
}
