.totalContainer {
    width: 375px;
    text-align: center;
    font-family:'Trebuchet MS';
  }

.intervalButton {
    font-family: 'Trebuchet MS';
    position: relative;
    margin-left: 50px;
    width: 125px;
    height: 60px;
    font-size: 15px;
    border-radius: 15px;
    background-color: #bdbdbd;
    text-align: center;
    font-weight: bold;
    color: #202020;
    border: none;
    cursor: pointer;
    box-shadow: -3px 3px 3px #6e6e6e;
}

.scheduleButton {
    font-family: 'Trebuchet MS';
    position: relative;
    margin-left: 20px;
    width: 125px;
    height: 60px;
    font-size: 15px;
    border-radius: 15px;
    background-color: #bdbdbd;
    text-align: center;
    font-weight: bold;
    color: #202020;
    border: none;
    cursor: pointer;
    box-shadow: -3px 3px 3px #6e6e6e;
}

.buttons {
    display: flex;
}